<%= form_with model: order, method: :patch, local: true do |form| %>
  <% if order.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <div class="flex items-center justify-center min-w-full">
    <%= form.submit "Place Order", class: "btn btn-primary w-full" %>
  </div>
<% end %>
