<% content_for :title, "New product" %>

<h1 class="text-2xl font-bold mb-4">New Product</h1>
<%= render "form", product: @product %>

<div class="mt-4">
  <%= link_to "Back", products_path, class: "link link-primary" %>
</div>
